<template>
  <div class="textfield">
    <input
      v-if="!large"
      ref="answer"
      autofocus
      :type="type"
      class="answer"
      :placeholder="placeholder"
      :value="value"
      :class="{ dark: themeDark, light: !themeDark }"
      @keyup="$emit('text', $refs.answer.value)"
      @change="$emit('text', $refs.answer.value)"
      @blur="$emit('text', $refs.answer.value)"
      @paste="$emit('text', $refs.answer.value)"
    />

    <textarea
      v-else
      ref="answerLarge"
      autofocus
      class="answer"
      :placeholder="placeholder"
      :value="value"
      :class="{ dark: themeDark, light: !themeDark }"
      @keyup="$emit('text', $refs.answerLarge.value)"
      @change="$emit('text', $refs.answerLarge.value)"
      @blur="$emit('text', $refs.answerLarge.value)"
      @paste="$emit('text', $refs.answerLarge.value)"
    />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";

const ClickOutside = require("vue-click-outside");

export default Vue.extend({
  name: "QuizTextField",
  directives: {
    ClickOutside
  },
  props: {
    placeholder: {
      type: String,
      default: ""
    },

    value: {
      type: String,
      default: ""
    },

    large: {
      type: Boolean,
      default: false
    },

    type: {
      type: String,
      default: "text"
    },

    autofocus: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    active: false,
    clicked: false,
    removeHover: false
  }),
  computed: {
    ...mapGetters(["theme", "themeDark"])
  },
  mounted() {
    if (this.value) this.$emit("text", this.value);

    if (!this.autofocus) return;

    if (this.$refs.answerLarge) {
      const answerLarge = this.$refs.answerLarge as HTMLInputElement;
      answerLarge.focus();
    } else {
      const answer = this.$refs.answer as HTMLInputElement;
      answer.focus();
    }
  }
});
</script>

<style lang="scss" scoped>
.textfield {
  display: flex;
  align-items: center;

  input,
  textarea {
    border-radius: 16px;
    padding: sw(3.8) sw(4.8);
    font-weight: 400;
    font-size: sw(4.3);

    &.dark {
      color: #ffffff;
      background: rgba(0, 0, 0, 0.25);
      border: 2px solid rgba(255, 255, 255, 0.3);

      &::placeholder {
        color: rgba(255, 255, 255, 0.4);
      }
    }

    &.light {
      color: #000;
      background: rgba(255, 255, 255, 0.6);
      border: 2px solid rgba(152, 152, 152, 0.3);

      &::placeholder {
        color: rgba(0, 0, 0, 0.4);
      }
    }

    backdrop-filter: blur(19px);

    text-align: left;
    cursor: pointer;
    outline: none;

    width: 100%;
  }

  textarea {
    resize: none;
    height: sw(48);
  }
}
</style>
