<template>
  <div class="quizImage" :class="{ quizImageBottom: !atTop }">
    <client-only>
      <GlobalLoader
        :color="themeDark ? '#fff' : '#000'"
        :value="loader"
        :size="size"
        :accent-color="themeButtonBackgroundColor"
      />
    </client-only>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import GlobalLoader from "~/components/loaders/GlobalLoader.vue";
export default {
  name: "QuizLoader",
  components: { GlobalLoader },
  props: {
    loader: {
      type: String,
      default: ""
    },

    atTop: {
      type: Boolean,
      default: true
    },

    medium: {
      type: Boolean,
      default: false
    },

    small: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      size: 0
    };
  },
  computed: {
    ...mapState(["theme", "themeDark"]),
    ...mapGetters(["themeButtonBackgroundColor"])
  },
  mounted() {
    const container = document.querySelector("#container");

    if (!container) return 0;

    const containerWidth = container.getBoundingClientRect().width;

    if (this.small) {
      this.size = parseInt((containerWidth * 0.2).toFixed(0));
      return;
    }

    if (this.medium) {
      this.size = parseInt((containerWidth * 0.3).toFixed(0));
      return;
    }

    this.size = parseInt((containerWidth * 0.45).toFixed(0));
  }
};
</script>

<style lang="scss" scoped>
.quizImage {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: auto;

  &Bottom {
    margin-top: sw(17.3);
    margin-bottom: auto;
  }
}
</style>
