<template>
  <div
    class="button"
    :class="{
      'button--selected': selected,
      'button--dark': themeDark,
      'button--light': !themeDark
    }"
    :style="{
      borderColor: selected ? theme.button.borderActive : theme.button.border,
      boxShadow: selected ? `0 0 0 1px ${theme.button.borderActive}` : ''
    }"
    @click="$emit('click')"
  >
    <CheckBox class="checkbox" :checked="selected" />
    <slot />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import CheckBox from "~/components/ui/CheckBox.vue";

export default {
  name: "QuizMultipleButton",
  components: { CheckBox },
  props: {
    selected: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters(["theme", "themeDark"])
  }
};
</script>

<style lang="scss" scoped>
.button {
  backdrop-filter: blur(19px);
  border-radius: 16px;

  font-weight: 400;
  font-size: sw(4.3);
  line-height: 150%;

  padding: sw(3.8);
  transition: none;
  cursor: pointer;

  display: flex;
  align-items: center;

  word-break: break-word;

  &--light {
    background: rgba(255, 255, 255, 0.6);
    color: #161616;
    border-width: 1px;
    border-style: solid;
  }

  &--dark {
    background: rgba(0, 0, 0, 0.25);
    color: #fff;
    border-width: 1px;
    border-style: solid;
  }

  .checkbox {
    margin-right: 12px;
  }
}
</style>
