<template>
  <img
    :src="src"
    class="quizImage"
    alt=""
    :class="{
      quizImageBottom: !atTop,
      quizImageMedium: medium,
      quizImageSmall: small
    }"
  />
</template>

<script>
export default {
  name: "QuizImage",
  props: {
    src: {
      type: String,
      default: ""
    },

    atTop: {
      type: Boolean,
      default: true
    },

    medium: {
      type: Boolean,
      default: false
    },

    small: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
.quizImage {
  max-width: 100%;
  border-radius: 12px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;

  &Bottom {
    margin-top: sw(7.7);
    margin-bottom: auto;
  }

  &Medium {
    max-width: 73%;
  }

  &Small {
    max-width: 44%;
  }
}
</style>
