<template>
  <div class="QuizTime">
    <div
      class="input"
      :class="{
        'input-placeholder': !selected,
        dark: themeDark,
        light: !themeDark
      }"
      @click="showPicker = true"
    >
      <div class="label">
        {{ currentTime || selected || placeholder }}
      </div>

      <IconsIconClock color="currentColor" class="icon" :size="27" />
    </div>

    <client-only>
      <div v-show="showPicker" class="dialog">
        <div class="dialog-overlay" @click="showPicker = false" />
        <div class="dialog-container">
          <div class="dialog-modal">
            <smooth-picker
              v-show="showPicker"
              ref="timePicker"
              :change="timeValuesChange"
              :data="timeValues"
              class="picker"
              @hook:mounted="initTimepicker"
            />
            <button
              :style="{
                backgroundColor: theme.dateTimePicker.doneBackground,
                color: theme.dateTimePicker.doneText
              }"
              class="done"
              @click="ready"
            >
              {{ $t("done") }}
            </button>
          </div>
        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "QuizTime",
  props: {
    placeholder: {
      type: String,
      default: "Выберите дату"
    },

    selected: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      showPicker: false,
      ruTimeValues: [
        {
          currentIndex: 15,
          flex: 3,
          list: Array.from(Array(24).keys()),
          textAlign: "center",
          className: "row-group"
        },
        {
          divider: true,
          flex: 1,
          text: ":",
          textAlign: "center",
          className: "divider"
        },
        {
          currentIndex: 30,
          flex: 3,
          list: Array.from(Array(60).keys()),
          textAlign: "center",
          className: "item-group"
        }
      ],
      enTimeValues: [
        {
          currentIndex: 3,
          flex: 1,
          list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
          textAlign: "center",
          className: "row-group"
        },
        {
          divider: true,
          flex: 1,
          text: ":",
          textAlign: "center",
          className: "divider"
        },
        {
          currentIndex: 30,
          flex: 1,
          list: Array.from(Array(60).keys()),
          textAlign: "center",
          className: "item-group"
        },
        {
          currentIndex: 0,
          flex: 1,
          list: ["AM", "PM"],
          textAlign: "center",
          className: "item-group"
        }
      ],
      timeValues: [],
      currentTime: ""
    };
  },
  computed: {
    ...mapGetters(["theme", "themeDark"])
  },
  watch: {
    selected(val) {
      try {
        const currentTime = val.split(" ")[1];
        const currentHour = parseInt(currentTime.split(":")[0]);
        const currentMinute = parseInt(currentTime.split(":")[1]);
        const currentTimeOfDay = val.split(" ")[2];

        this.timeValues[0].currentIndex =
          this.timeValues[0].list.indexOf(currentHour);
        this.timeValues[1].currentIndex =
          this.timeValues[1].list.indexOf(currentMinute);
        this.timeValues[2].currentIndex =
          this.timeValues[2].list.indexOf(currentTimeOfDay);

        this.$refs.timePicker.setGroupData(0, this.timeValues[0]);
        this.$refs.timePicker.setGroupData(2, this.timeValues[2]);
        this.$refs.timePicker.setGroupData(3, this.timeValues[3]);
      } catch (err) {
        // eslint-disable-next-line no-console
        console.log(err);
      }
    }
  },
  created() {
    this.timeValues =
      this.$i18n.locale === "ru" ? this.ruTimeValues : this.enTimeValues;
  },
  methods: {
    initTimepicker() {
      if (this.$i18n.locale === "en") {
        this.$refs.timePicker.setGroupData(0, this.timeValues[0]);
        this.$refs.timePicker.setGroupData(2, this.timeValues[2]);
        this.$refs.timePicker.setGroupData(3, this.timeValues[3]);
      } else {
        this.$refs.timePicker.setGroupData(0, this.timeValues[0]);
        this.$refs.timePicker.setGroupData(2, this.timeValues[2]);
      }
    },
    ready() {
      this.showPicker = false;
      this.timeValuesChange();
    },
    timeValuesChange() {
      const ciList = this.$refs.timePicker.getCurrentIndexList();
      const hour = this.timeValues[0].list[ciList[0]];
      const minute = this.timeValues[2].list[ciList[2]];

      if (this.$i18n.locale === "en") {
        const timeOfDay = this.timeValues[3].list[ciList[3]];
        this.currentTime = `${("0" + hour).slice(-2)}:${("0" + minute).slice(
          -2
        )} ${timeOfDay}`;
      } else {
        this.currentTime = `${("0" + hour).slice(-2)}:${("0" + minute).slice(
          -2
        )}`;
      }
      this.$emit("input", this.currentTime);
    }
  }
};
</script>

<style lang="scss" scoped>
.QuizTime {
  .input {
    border-radius: 12px;
    width: 100%;
    transition: border 0.2s ease-in-out;
    padding: sw(3.3);

    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(19px);

    &.light {
      background: #ffffff;
      border: 2px solid rgba(25, 25, 37, 0.1);
      color: #000;

      .icon,
      .input-placeholder {
        color: #000;
      }
    }

    &.dark {
      background: rgba(0, 0, 0, 0.25);
      border: 2px solid rgba(255, 255, 255, 0.3);
      color: #fff;

      .icon,
      .input-placeholder {
        color: #fff;
      }
    }

    &-placeholder {
      .label {
        opacity: 0.4;
      }
    }

    .label {
      font-weight: 400;
      font-size: sw(4.3);
      line-height: 150%;
    }

    .icon {
      margin-left: sw(3.8);
    }
  }

  .dialog {
    position: absolute;
    left: 0;
    top: 0;

    border: none;
    border-radius: 16px;

    width: 100%;
    height: 100%;
    z-index: 12;

    &-overlay {
      background: #000000;
      opacity: 0.5;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }

    &-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      padding: sw(3.8);
    }

    &-modal {
      background-color: #ffffff;
      width: 100%;
      padding: sw(4.8);
      border-radius: 32px;
      position: relative;
      color: #000000;

      margin-top: auto;

      .done {
        margin-top: 20px;
        padding: sw(3.3) sw(3.8);
        font-weight: 600;
        font-size: sw(4.3);
        line-height: 150%;
        -webkit-appearance: none;
        backdrop-filter: blur(19px);
        border-radius: 16px;
        transition: none;
        cursor: pointer;
        border: none;
        width: 100%;
      }
    }
  }
}
</style>
