<template>
  <div class="editorSelect">
    <div
      :style="{ borderColor: clicked ? theme.select.borderActive : '' }"
      class="select"
      :class="{ dark: themeDark, light: !themeDark }"
      @click="clicked = !clicked"
    >
      <div class="placeholder" :class="selected ? '' : 'placeholder-grey'">
        {{ selected || placeholder }}
      </div>

      <IconArrowDown
        :size="27"
        color="currentColor"
        :class="{ 'arrow-up': clicked }"
        class="arrow"
      />
    </div>

    <div v-if="clicked" class="options">
      <div
        v-for="(option, index) in options"
        :key="index"
        class="option"
        @click="
          hide();
          $emit('input', option);
        "
      >
        {{ option }}
      </div>
    </div>
  </div>
</template>

<script>
import ClickOutside from "vue-click-outside";
import { mapGetters } from "vuex";
import IconArrowDown from "~/components/icons/IconArrowDown.vue";

export default {
  name: "EditorSelect",
  directives: {
    ClickOutside
  },
  components: { IconArrowDown },
  props: {
    placeholder: {
      type: String,
      default: ""
    },

    selected: {
      type: String,
      default: ""
    },

    options: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      clicked: false
    };
  },
  computed: {
    ...mapGetters(["theme", "themeDark"])
  },
  methods: {
    hide() {
      this.clicked = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.editorSelect {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 2;

  .select {
    border-radius: 12px;
    width: 100%;
    transition: border 0.2s ease-in-out;
    padding: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(19px);

    cursor: pointer;

    &.light {
      background: #ffffff;
      border: 2px solid rgba(25, 25, 37, 0.1);

      color: #000;

      .placeholder {
        color: #000000;
      }
    }

    &.dark {
      background: rgba(0, 0, 0, 0.25);
      border: 2px solid rgba(255, 255, 255, 0.3);

      .arrow {
        color: #fff;
      }

      .placeholder {
        color: #fff;
      }
    }

    .arrow {
      transition: all 0.15s ease;

      &-up {
        transform: rotate(180deg);
      }
    }

    .placeholder {
      font-weight: 400;
      font-size: sw(4.3);

      &-grey {
        opacity: 0.4;
      }
    }
  }

  .options {
    position: absolute;
    top: calc(100% + #{sw(4.3)});
    left: 0;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background: #ffffff;
    border-radius: 16px;
    overflow: hidden;

    .option {
      padding: sw(3.8);
      background-color: #fff;
      font-style: normal;
      display: flex;
      align-items: center;

      cursor: pointer;
      transition: background-color 0.2s ease;
      width: 100%;
      outline: none;

      border-width: 1px 2px;
      border-style: solid;
      border-color: rgba(152, 152, 152, 0.3);

      font-weight: 400;
      font-size: sw(3.8);
      line-height: 150%;
      color: #000;

      &:first-child {
        border-width: 2px 2px 1px 2px;
        border-radius: 16px 16px 0 0;
      }

      &:last-child {
        border-radius: 0 0 16px 16px;
        border-width: 1px 2px 2px 2px;
      }

      &:hover {
        background-color: rgb(240, 240, 240);
      }
    }
  }
}
</style>
