<template>
  <div class="QuizDate">
    <div
      class="input"
      :class="{
        'input-placeholder': !selected,
        dark: themeDark,
        light: !themeDark
      }"
      @click="showPicker = true"
    >
      <div class="label">
        {{ currentDate || parsedSelected || placeholder }}
      </div>

      <IconsIconCalendar color="currentColor" class="icon" :size="27" />
    </div>

    <client-only>
      <div v-show="showPicker" class="dialog">
        <div class="dialog-overlay" @click="showPicker = false" />
        <div class="dialog-container">
          <div class="dialog-modal">
            <smooth-picker
              v-show="showPicker"
              ref="datePicker"
              :change="dataDateChange"
              :data="dataDate"
              class="picker"
            />

            <button
              :style="{
                backgroundColor: theme.dateTimePicker.doneBackground,
                color: theme.dateTimePicker.doneText
              }"
              class="done"
              @click="ready"
            >
              {{ $t("done") }}
            </button>
          </div>
        </div>
      </div>
    </client-only>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "QuizDate",
  prop: ["value"],
  props: {
    format: {
      type: String,
      default: "date"
    },

    placeholder: {
      type: String,
      default: "Выберите дату"
    },

    selected: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      showPicker: false,

      months:
        this.$i18n.locale === "ru"
          ? [
              "Январь",
              "Февраль",
              "Март",
              "Апрель",
              "Май",
              "Июнь",
              "Июль",
              "Август",
              "Сентябрь",
              "Октябрь",
              "Ноябрь",
              "Декабрь"
            ]
          : [
              "January",
              "February",
              "March",
              "April",
              "May",
              "June",
              "July",
              "August",
              "September",
              "October",
              "November",
              "December"
            ],

      dataDate: [],

      currentMonth: "",
      currentDay: 1,
      currentYear: 1990,

      currentDate: ""
    };
  },
  computed: {
    ...mapGetters(["theme", "themeDark"]),

    parsedSelected() {
      if (!this.selected) return null;

      const selectedSplit = this.selected.split("-");

      return `${selectedSplit[1]}-${selectedSplit[2]}-${selectedSplit[0]}`;
    }
  },
  watch: {
    selected(val) {
      try {
        const currentDay = parseInt(val.split("-")[2]);
        const currentMonth = parseInt(val.split("-")[1]);
        const currentYear = parseInt(val.split("-")[0]);

        this.dataDate[0].list = this.daysInMonth();
        this.dataDate[1].list = this.months;
        this.dataDate[2].list = this.years();

        this.dataDate[0].currentIndex = this.daysInMonth().indexOf(currentDay);

        this.dataDate[1].currentIndex = currentMonth - 1;
        this.dataDate[2].currentIndex = this.years().indexOf(currentYear);

        this.$refs.datePicker.setGroupData(0, this.dataDate[0]);
        this.$refs.datePicker.setGroupData(1, this.dataDate[1]);
        this.$refs.datePicker.setGroupData(2, this.dataDate[2]);
      } catch {}
    }
  },
  created() {
    this.currentMonth = this.months[0];
    this.dataDate = [
      {
        currentIndex: 14,
        flex: 1,
        list: [
          "01",
          "02",
          "03",
          "04",
          "05",
          "06",
          "07",
          "08",
          "09",
          "10",
          "11",
          "12",
          "13",
          "14",
          "15",
          "16",
          "17",
          "18",
          "19",
          "20",
          "21",
          "22",
          "23",
          "24"
        ],
        textAlign: "center",
        className: "row-group"
      },
      {
        flex: 3,
        list: this.months,
        textAlign: "center",
        className: "divider"
      },
      {
        currentIndex: 60,
        flex: 1,
        list: this.years(),
        textAlign: "center",
        className: "item-group"
      }
    ];
  },
  methods: {
    dataDateChange() {
      const ciList = this.$refs.datePicker.getCurrentIndexList();

      this.currentYear = this.years()[ciList[2]];
      this.currentMonth = this.months[ciList[1]];
      this.currentDay = this.daysInMonth()[ciList[0]] || this.daysInMonth()[0];

      this.dataDate[0].list = this.daysInMonth();
      this.dataDate[1].list = this.months;
      this.dataDate[2].list = this.years();

      this.dataDate[0].currentIndex = this.daysInMonth().indexOf(
        this.currentDay
      );
      this.dataDate[1].currentIndex = this.months.indexOf(this.currentMonth);
      this.dataDate[2].currentIndex = this.years().indexOf(this.currentYear);

      this.$refs.datePicker.setGroupData(0, this.dataDate[0]);
      this.$refs.datePicker.setGroupData(1, this.dataDate[1]);
      this.$refs.datePicker.setGroupData(2, this.dataDate[2]);

      const parsedMonth = (
        "0" +
        (this.months.indexOf(this.currentMonth) + 1)
      ).slice(-2);
      const parsedDay = ("0" + this.currentDay).slice(-2);

      this.currentDate = `${parsedMonth}-${parsedDay}-${this.currentYear}`;

      this.$emit("input", `${this.currentYear}-${parsedMonth}-${parsedDay}`);
    },
    daysInMonth() {
      const daysArray = [];

      const daysCount = new Date(
        this.currentYear,
        this.months.indexOf(this.currentMonth) + 1,
        0
      ).getDate();

      for (let i = 0; i < daysCount; i++) daysArray.push(i + 1);

      return daysArray;
    },
    years() {
      const fromYear = 1930;
      const yearsArray = [];

      for (let i = fromYear; i < new Date().getFullYear() + 1; i++) {
        yearsArray.push(i);
      }

      return yearsArray;
    },
    ready() {
      this.showPicker = false;
      this.dataDateChange();
    }
  }
};
</script>

<style lang="scss" scoped>
.QuizDate {
  .input {
    border-radius: 12px;
    width: 100%;
    transition: border 0.2s ease-in-out;
    padding: sw(3.3);

    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(19px);

    &.light {
      background: #ffffff;
      border: 2px solid rgba(25, 25, 37, 0.1);
      color: #000;

      .icon,
      .input-placeholder {
        color: #000;
      }
    }

    &.dark {
      background: rgba(0, 0, 0, 0.25);
      border: 2px solid rgba(255, 255, 255, 0.3);
      color: #fff;

      .icon,
      .input-placeholder {
        color: #fff;
      }
    }

    &-placeholder {
      .label {
        opacity: 0.4;
      }
    }

    .label {
      font-weight: 400;
      font-size: sw(4.3);
      line-height: 150%;
    }

    .icon {
      margin-left: sw(3.8);
    }
  }

  .dialog {
    position: absolute;
    left: 0;
    top: 0;

    border: none;
    border-radius: 16px;

    width: 100%;
    height: 100%;
    z-index: 12;

    &-overlay {
      background: #000000;
      opacity: 0.5;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }

    &-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      padding: sw(3.8);
    }

    &-modal {
      background-color: #ffffff;
      width: 100%;
      padding: sw(4.8);
      border-radius: 32px;
      position: relative;
      color: #000000;

      margin-top: auto;

      .done {
        margin-top: 20px;
        padding: sw(3.3) sw(3.8);
        font-weight: 600;
        font-size: sw(4.3);
        line-height: 150%;
        -webkit-appearance: none;
        backdrop-filter: blur(19px);
        border-radius: 16px;
        transition: none;
        cursor: pointer;
        border: none;
        width: 100%;
      }
    }
  }
}
</style>
