<template>
  <svg
    :width="size"
    :height="size"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="12" cy="12" r="2" :fill="color" />
    <circle cx="12" cy="12" r="9" :stroke="color" stroke-width="2" />
  </svg>
</template>

<script>
export default {
  name: "IconSingle",
  props: {
    size: {
      type: Number,
      default: 24
    },
    color: {
      type: String,
      default: "#3C3F4F"
    }
  }
};
</script>
