<template>
  <svg
    :width="size"
    :height="size"
    viewBox="0 0 16 17"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M8.00004 15.1668C4.33337 15.1668 1.33337 12.1668 1.33337 8.50016C1.33337 4.8335 4.33337 1.8335 8.00004 1.8335C11.6667 1.8335 14.6667 4.8335 14.6667 8.50016C14.6667 12.1668 11.6667 15.1668 8.00004 15.1668ZM8.00004 3.16683C5.06671 3.16683 2.66671 5.56683 2.66671 8.50016C2.66671 11.4335 5.06671 13.8335 8.00004 13.8335C10.9334 13.8335 13.3334 11.4335 13.3334 8.50016C13.3334 5.56683 10.9334 3.16683 8.00004 3.16683Z"
      :fill="color"
    />
    <path
      d="M11.2667 9.16689H8.00004C7.60004 9.16689 7.33337 8.90023 7.33337 8.50023V5.23356C7.33337 4.83356 7.60004 4.56689 8.00004 4.56689C8.40004 4.56689 8.66671 4.83356 8.66671 5.23356V7.83356H11.2667C11.6667 7.83356 11.9334 8.10023 11.9334 8.50023C11.9334 8.90023 11.6667 9.16689 11.2667 9.16689Z"
      :fill="color"
    />
  </svg>
</template>

<script>
export default {
  name: "IconClock",
  props: {
    size: {
      type: Number,
      default: 24
    },
    color: {
      type: String,
      default: "#4341D1"
    }
  }
};
</script>
