<template>
  <svg
    :width="size"
    :height="size"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M3 5C3 3.89543 3.89543 3 5 3H19C20.1046 3 21 3.89543 21 5V5C21 6.10457 20.1046 7 19 7H5C3.89543 7 3 6.10457 3 5V5Z"
      :stroke="color"
      stroke-width="2"
    />
    <path
      d="M3 13C3 11.8954 3.89543 11 5 11H19C20.1046 11 21 11.8954 21 13V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16V13Z"
      :stroke="color"
      stroke-width="2"
    />
  </svg>
</template>

<script>
export default {
  name: "IconSelect",
  props: {
    size: {
      type: Number,
      default: 24
    },
    color: {
      type: String,
      default: "#3C3F4F"
    }
  }
};
</script>
