<template>
  <svg
    :width="size"
    :height="size"
    viewBox="0 0 27 27"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g opacity="0.7">
      <path
        d="M6 10L13.5 17"
        :stroke="color"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M21 10L13.5 17"
        :stroke="color"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </g>
  </svg>
</template>

<script>
export default {
  name: "IconArrowDown",
  props: {
    size: {
      type: Number,
      default: 24
    },

    color: {
      type: String,
      default: "#000"
    }
  }
};
</script>
