<template>
  <svg
    :width="size"
    :height="size"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M14.1213 9.87868C15.2929 11.0503 15.2929 12.9497 14.1213 14.1213C12.9497 15.2929 11.0503 15.2929 9.87868 14.1213C8.70711 12.9497 8.70711 11.0503 9.87868 9.87868C11.0503 8.70711 12.9497 8.70711 14.1213 9.87868Z"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M15.2043 3.13523L15.8603 3.35349C16.4611 3.55375 16.8672 4.11627 16.8672 4.74966V5.69133C16.8672 6.49236 17.5063 7.146 18.3074 7.16288L19.2502 7.18313C19.7959 7.19438 20.291 7.50827 20.5351 7.99654L20.8445 8.61531C21.128 9.18233 21.0167 9.86636 20.5689 10.3141L19.9028 10.9801C19.3369 11.546 19.3267 12.4607 19.8803 13.039L20.5329 13.7208C20.9109 14.1156 21.0392 14.686 20.8659 15.2047L20.6476 15.8606C20.4473 16.4614 19.8848 16.8675 19.2514 16.8675H18.3096C17.5086 16.8675 16.8549 17.5065 16.838 18.3076L16.8177 19.2503C16.8065 19.796 16.4926 20.291 16.0043 20.5351L15.3855 20.8445C14.8184 21.128 14.1343 21.0167 13.6865 20.5689L13.0205 19.9029C12.4545 19.337 11.5398 19.3268 10.9615 19.8804L10.2797 20.5329C9.88479 20.9109 9.31436 21.0392 8.79568 20.8659L8.13974 20.6476C7.53893 20.4474 7.13276 19.8849 7.13276 19.2515V18.3098C7.13276 17.5088 6.4937 16.8551 5.69262 16.8382L4.74977 16.818C4.20409 16.8067 3.70905 16.4929 3.4649 16.0046L3.15549 15.3858C2.87196 14.8188 2.98335 14.1348 3.43114 13.687L4.09721 13.021C4.66314 12.4551 4.67327 11.5404 4.11971 10.9621L3.46715 10.2804C3.08798 9.88436 2.95972 9.31284 3.13299 8.79532L3.35126 8.13942C3.55153 7.53864 4.11409 7.1325 4.74752 7.1325H5.68924C6.49032 7.1325 7.14401 6.49348 7.16089 5.69245L7.18114 4.74966C7.19464 4.20402 7.50743 3.709 7.99572 3.46487L8.61454 3.15548C9.18159 2.87197 9.86566 2.98335 10.3135 3.43112L10.9795 4.09714C11.5455 4.66304 12.4602 4.67316 13.0385 4.11964L13.7203 3.46712C14.1152 3.09023 14.6868 2.96197 15.2043 3.13523V3.13523Z"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>

<script>
export default {
  name: "IconSettings",
  props: {
    size: {
      type: Number,
      default: 24
    }
  }
};
</script>
