<template>
  <svg
    :width="size"
    :height="size"
    viewBox="0 0 32 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12.667 1.91602L12.6096 1.91602C10.3012 1.916 8.49218 1.91599 7.0807 2.10576C5.63596 2.3 4.49594 2.70534 3.60113 3.60015C2.70632 4.49496 2.30098 5.63499 2.10674 7.07972C1.91697 8.49121 1.91698 10.3002 1.91699 12.6086L1.91699 12.666V16.666L1.91699 16.7234C1.91698 19.0318 1.91697 20.8408 2.10674 22.2523C2.30098 23.697 2.70632 24.8371 3.60113 25.7319C4.49594 26.6267 5.63596 27.032 7.0807 27.2263C8.49219 27.416 10.3012 27.416 12.6096 27.416H12.667H19.998C21.3106 27.416 21.8382 27.4214 22.3357 27.5487C22.3897 27.5625 22.4435 27.5774 22.4969 27.5933C22.989 27.7401 23.4442 28.007 24.5697 28.6823L24.6196 28.7123L24.6197 28.7123C25.5076 29.2451 26.242 29.6857 26.8455 29.9429C27.4622 30.2056 28.1317 30.3619 28.7886 30.054C28.893 30.0051 28.9936 29.9481 29.0893 29.8838C29.6913 29.4789 29.9017 28.8244 29.9937 28.1604C30.0837 27.5105 30.0837 26.6541 30.0837 25.6186V25.5604V12.666V12.6086C30.0837 10.3002 30.0837 8.4912 29.8939 7.07972C29.6997 5.63499 29.2943 4.49496 28.3995 3.60015C27.5047 2.70534 26.3647 2.3 24.92 2.10576C23.5085 1.91599 21.6994 1.916 19.391 1.91602L19.3337 1.91602H12.667ZM12.1367 10.8024C12.4296 10.5095 12.9044 10.5095 13.1973 10.8024L16.0003 13.6054L18.8033 10.8024C19.0962 10.5095 19.5711 10.5095 19.864 10.8024C20.1569 11.0952 20.1569 11.5701 19.864 11.863L17.061 14.666L19.864 17.469C20.1569 17.7619 20.1569 18.2368 19.864 18.5297C19.5711 18.8226 19.0962 18.8226 18.8033 18.5297L16.0003 15.7267L13.1973 18.5297C12.9044 18.8226 12.4296 18.8226 12.1367 18.5297C11.8438 18.2368 11.8438 17.7619 12.1367 17.469L14.9397 14.666L12.1367 11.863C11.8438 11.5701 11.8438 11.0952 12.1367 10.8024Z"
      fill="black"
    />
  </svg>
</template>

<script>
export default {
  name: "IconCommentCancel",
  props: {
    size: {
      type: Number,
      default: 24
    },
    color: {
      type: String,
      default: "#3C3F4F"
    }
  }
};
</script>
