<template>
  <svg
    :width="width"
    :height="height"
    viewBox="0 0 10 8"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1 3.5L4 6.5"
      :stroke="color"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M9 1.5L4 6.5"
      :stroke="color"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>

<script>
export default {
  name: "IconCheck",
  props: {
    width: {
      type: Number,
      default: 10
    },

    height: {
      type: Number,
      default: 8
    },

    color: {
      type: String,
      default: "#3C3F4F"
    }
  }
};
</script>
