<template>
  <svg
    :width="size"
    :height="size"
    viewBox="0 0 16 17"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M5.29289 3.29289C5.68342 2.90237 6.31658 2.90237 6.70711 3.29289L11.2071 7.79289C11.5976 8.18342 11.5976 8.81658 11.2071 9.20711L6.70711 13.7071C6.31658 14.0976 5.68342 14.0976 5.29289 13.7071C4.90237 13.3166 4.90237 12.6834 5.29289 12.2929L9.08579 8.5L5.29289 4.70711C4.90237 4.31658 4.90237 3.68342 5.29289 3.29289Z"
      :fill="color"
    />
  </svg>
</template>

<script>
export default {
  name: "IconRightArrow",
  props: {
    size: {
      type: Number,
      default: 24
    },
    color: {
      type: String,
      default: "#4341D1"
    }
  }
};
</script>
