<template>
  <svg
    :width="size"
    :height="size"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M16 3C16 2.44772 15.5523 2 15 2C14.4477 2 14 2.44772 14 3H16ZM14 6C14 6.55228 14.4477 7 15 7C15.5523 7 16 6.55228 16 6H14ZM8 6C8 6.55228 8.44772 7 9 7C9.55228 7 10 6.55228 10 6H8ZM10 3C10 2.44772 9.55228 2 9 2C8.44772 2 8 2.44772 8 3H10ZM20 8.5V17H22V8.5H20ZM17 20H7V22H17V20ZM4 17V8.5H2V17H4ZM15 5.5H17V3.5H15V5.5ZM16 4.5V3H14V4.5H16ZM14 3V6H16V3H14ZM7 5.5H9V3.5H7V5.5ZM9 5.5H15V3.5H9V5.5ZM8 4.5V6H10V4.5H8ZM10 4.5V3H8V4.5H10ZM7 20C5.34315 20 4 18.6569 4 17H2C2 19.7614 4.23858 22 7 22V20ZM20 17C20 18.6569 18.6569 20 17 20V22C19.7614 22 22 19.7614 22 17H20ZM22 8.5C22 5.73858 19.7614 3.5 17 3.5V5.5C18.6569 5.5 20 6.84315 20 8.5H22ZM4 8.5C4 6.84315 5.34315 5.5 7 5.5V3.5C4.23858 3.5 2 5.73858 2 8.5H4Z"
      :fill="color"
    />
    <path d="M20 10H4" :stroke="color" stroke-width="2" />
  </svg>
</template>

<script>
export default {
  name: "IconDate",
  props: {
    size: {
      type: Number,
      default: 24
    },
    color: {
      type: String,
      default: "#3C3F4F"
    }
  }
};
</script>
