<template>
  <svg
    :width="size"
    :height="size"
    viewBox="0 0 32 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M15.9992 0.482422C14.1791 0.482422 12.7698 1.57805 11.3928 3.36076C10.0268 5.12917 8.55663 7.75456 6.6543 11.1516L6.65429 11.1516L6.6198 11.2132L5.01438 14.08L4.98015 14.1411L4.98014 14.1411C3.15311 17.4037 1.73942 19.9281 0.972804 21.9461C0.198625 23.984 0.00435948 25.7077 0.902508 27.2401C1.80066 28.7724 3.39955 29.4452 5.55589 29.7654C7.69116 30.0825 10.5844 30.0825 14.3237 30.0825H14.3238H14.3938H17.6047H17.6747H17.6748C21.4141 30.0825 24.3073 30.0825 26.4426 29.7654C28.5989 29.4452 30.1978 28.7724 31.096 27.2401C31.9941 25.7077 31.7999 23.984 31.0257 21.9461C30.2591 19.9281 28.8454 17.4037 27.0184 14.1412L26.9841 14.08L25.3787 11.2132L25.3442 11.1516C23.4419 7.75457 21.9717 5.12917 20.6057 3.36075C19.2287 1.57805 17.8194 0.482422 15.9992 0.482422ZM16.7493 11.9992C16.7493 11.585 16.4135 11.2492 15.9993 11.2492C15.585 11.2492 15.2493 11.585 15.2493 11.9992V17.3325C15.2493 17.7467 15.585 18.0825 15.9993 18.0825C16.4135 18.0825 16.7493 17.7467 16.7493 17.3325V11.9992ZM17.3326 21.3325C17.3326 22.0689 16.7356 22.6658 15.9993 22.6658C15.2629 22.6658 14.6659 22.0689 14.6659 21.3325C14.6659 20.5961 15.2629 19.9992 15.9993 19.9992C16.7356 19.9992 17.3326 20.5961 17.3326 21.3325Z"
      fill="black"
    />
  </svg>
</template>

<script>
export default {
  name: "IconAlert",
  props: {
    size: {
      type: Number,
      default: 24
    },
    color: {
      type: String,
      default: "#3C3F4F"
    }
  }
};
</script>
