<template>
  <svg
    :width="size"
    :height="size"
    viewBox="0 0 48 48"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M29.4632 28.2716L28.6028 28.7813C28.7745 29.0712 29.0807 29.2551 29.4173 29.2706C29.7539 29.286 30.0756 29.131 30.2732 28.858L29.4632 28.2716ZM32.9339 23.4778L33.7439 24.0643L32.9339 23.4778ZM45.2168 35.564L46.0639 35.0325L45.2168 35.564ZM42.7632 39H5.20982V41H42.7632V39ZM3.59888 36.1025L16.9696 14.5827L15.2708 13.5272L1.90008 35.047L3.59888 36.1025ZM20.2123 14.617L28.6028 28.7813L30.3236 27.7619L21.933 13.5977L20.2123 14.617ZM30.2732 28.858L33.7439 24.0643L32.1239 22.8914L28.6532 27.6852L30.2732 28.858ZM36.8866 24.1685L44.3697 36.0955L46.0639 35.0325L38.5808 23.1056L36.8866 24.1685ZM33.7439 24.0643C34.5323 22.9753 36.1721 23.0297 36.8866 24.1685L38.5808 23.1056C37.1128 20.7658 33.7437 20.654 32.1239 22.8914L33.7439 24.0643ZM16.9696 14.5827C17.7208 13.3736 19.4868 13.3922 20.2123 14.617L21.933 13.5977C20.4425 11.0814 16.8143 11.043 15.2708 13.5272L16.9696 14.5827ZM5.20982 39C3.72245 39 2.81392 37.3659 3.59888 36.1025L1.90008 35.047C0.287348 37.6427 2.15396 41 5.20982 41V39ZM42.7632 41C45.8267 41 47.6921 37.6276 46.0639 35.0325L44.3697 36.0955C45.1622 37.3586 44.2543 39 42.7632 39V41Z"
      fill="currentColor"
    />
    <circle
      cx="35.5"
      cy="12.5"
      r="4.5"
      stroke="currentColor"
      stroke-width="2"
    />
  </svg>
</template>

<script>
export default {
  name: "IconPicture",
  props: {
    size: {
      type: Number,
      default: 24
    }
  }
};
</script>
