<template>
  <svg
    :width="size"
    :height="size"
    viewBox="0 0 64 64"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M6.83398 32.0007C6.83398 18.1015 18.1015 6.83398 32.0007 6.83398C45.8998 6.83398 57.1673 18.1015 57.1673 32.0007C57.1673 45.8998 45.8998 57.1673 32.0007 57.1673C18.1015 57.1673 6.83398 45.8998 6.83398 32.0007ZM32.0007 3.83398C16.4446 3.83398 3.83398 16.4446 3.83398 32.0007C3.83398 47.5567 16.4446 60.1673 32.0007 60.1673C47.5567 60.1673 60.1673 47.5567 60.1673 32.0007C60.1673 16.4446 47.5567 3.83398 32.0007 3.83398ZM43.728 25.0613C44.3138 24.4755 44.3138 23.5258 43.728 22.94C43.1422 22.3542 42.1924 22.3542 41.6067 22.94L29.334 35.2127L25.0613 30.94C24.4755 30.3542 23.5258 30.3542 22.94 30.94C22.3542 31.5258 22.3542 32.4755 22.94 33.0613L28.2733 38.3946C28.5546 38.6759 28.9362 38.834 29.334 38.834C29.7318 38.834 30.1133 38.6759 30.3946 38.3946L43.728 25.0613Z"
      :fill="color"
    />
  </svg>
</template>

<script>
export default {
  name: "IconCheckCircle",
  props: {
    size: {
      type: Number,
      default: 24
    },
    color: {
      type: String,
      default: "#3C3F4F"
    }
  }
};
</script>
