<template>
  <svg
    :width="size"
    :height="size"
    viewBox="0 0 24 24"
    fill="none"
    :stroke="color"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M3 21L21 21"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M3 3L21 3"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <rect x="3" y="7" width="18" height="10" rx="4" stroke-width="2" />
  </svg>
</template>

<script>
export default {
  name: "IconInBetween",
  props: {
    size: {
      type: Number,
      default: 24
    },
    color: {
      type: String,
      default: "#3C3F4F"
    }
  }
};
</script>
