<template>
  <svg
    :width="size"
    :height="size"
    viewBox="0 0 24 24"
    :stroke="color"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M12 5L12 19"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M19 12H5"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>

<script>
export default {
  name: "IconPlus",
  props: {
    size: {
      type: Number,
      default: 24
    },
    color: {
      type: String,
      default: "#4341D1"
    }
  }
};
</script>
