<template>
  <svg
    :width="size"
    :height="size"
    viewBox="0 0 27 27"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g opacity="0.8" clip-path="url(#clip0_724_6452)">
      <path
        d="M20.25 5.0625H6.75C4.88604 5.0625 3.375 6.57354 3.375 8.4375V20.25C3.375 22.114 4.88604 23.625 6.75 23.625H20.25C22.114 23.625 23.625 22.114 23.625 20.25V8.4375C23.625 6.57354 22.114 5.0625 20.25 5.0625Z"
        :stroke="color"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M19.125 19.1094H7.875"
        :stroke="color"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M8.4375 3.375V6.75"
        :stroke="color"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M18.5625 3.375V6.75"
        :stroke="color"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </g>
    <defs>
      <clipPath id="clip0_724_6452">
        <rect :width="size" :height="size" :fill="color" />
      </clipPath>
    </defs>
  </svg>
</template>

<script>
export default {
  name: "IconCalendar",
  props: {
    size: {
      type: Number,
      default: 24
    },
    color: {
      type: String,
      default: "#4341D1"
    }
  }
};
</script>
