<template>
  <svg
    :width="size"
    :height="size"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M9.72201 11.0468C9.3399 10.648 8.70687 10.6345 8.30812 11.0166C7.90936 11.3987 7.89587 12.0318 8.27799 12.4305L9.72201 11.0468ZM11.167 14L10.445 14.6919C10.6336 14.8887 10.8944 15 11.167 15C11.4396 15 11.7004 14.8887 11.889 14.6919L11.167 14ZM15.722 10.6919C16.1041 10.2931 16.0906 9.66009 15.6919 9.27798C15.2931 8.89587 14.6601 8.90937 14.278 9.30812L15.722 10.6919ZM8.27799 12.4305L10.445 14.6919L11.889 13.3081L9.72201 11.0468L8.27799 12.4305ZM11.889 14.6919L15.722 10.6919L14.278 9.30812L10.445 13.3081L11.889 14.6919Z"
      :fill="color"
    />
    <rect
      x="3"
      y="3"
      width="18"
      height="18"
      rx="5"
      :stroke="color"
      stroke-width="2"
    />
  </svg>
</template>

<script>
export default {
  name: "IconMultiple",
  props: {
    size: {
      type: Number,
      default: 24
    },
    color: {
      type: String,
      default: "#3C3F4F"
    }
  }
};
</script>
