<template>
  <div class="back-to-quiz" @click="$router.push(`/${$route.params.id}`)">
    <IconBackArrow :size="32" color="currentColor" />

    <div class="title">{{ $t("backToQuiz") }}</div>
  </div>
</template>

<script>
import IconBackArrow from "~/components/icons/IconBackArrow.vue";
export default {
  name: "BackToQuiz",
  components: { IconBackArrow },
  props: {
    quizId: {
      type: String,
      default: ""
    }
  }
};
</script>

<style lang="scss" scoped>
.back-to-quiz {
  display: flex;
  align-items: center;
  cursor: pointer;

  .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin-left: 8px;
  }
}
</style>
