<template>
  <div class="no-link">
    <div class="text">{{ $t("noAppLink") }}</div>
    <a
      target="_blank"
      :href="`${$config.DASHBOARD_URL}/quiz-settings/${$route.params.id}/app-link`"
      class="link"
      >{{ $t("goToSettings") }}</a
    >
  </div>
</template>

<script>
export default {
  name: "QuizHasNoAppLink"
};
</script>

<style lang="scss" scoped>
.no-link {
  padding: 16px 24px;
  background: #e25e4a;
  color: #fff;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #ffffff;
    margin-top: 8px;
  }
}

@media (min-width: 1000px) {
  .no-link {
    flex-direction: row;
    align-items: center;

    .link {
      margin-left: auto;
      margin-top: 0;
    }
  }
}
</style>
