<template>
  <nuxt-link class="subscription" :to="`/${$route.params.id}/subscription`"
    >{{ $t("yourSubscription") }}
  </nuxt-link>
</template>

<script>
export default {
  name: "YourSubscriptionLink"
};
</script>

<style lang="scss" scoped>
.subscription {
  color: inherit;
  margin-top: sw(3.8);
  text-align: center;
  text-decoration: none;

  font-weight: 500;
  font-size: sw(3.3);
  line-height: 150%;
  opacity: 0.5;

  padding: sw(2.8) sw(3.8);
}
</style>
