<template>
  <div :key="renderKey" class="screen">
    <h1 v-text="screen.title" />
    <div v-if="screen.text" class="inBetweenText" v-html="screen.text" />

    <div class="answers">
      <template v-for="(answer, index) in screen.answers">
        <QuizButton
          v-if="answer.type === 'button'"
          :key="index"
          :selected="answerValue === answer.title && index === answerId"
          class="control"
          @click="singleAnswerClick(answer.title, index)"
          >{{ answer.title }}
        </QuizButton>

        <QuizMultipleButton
          v-else-if="answer.type === 'button-multiple'"
          :key="index"
          class="control"
          :selected="
            answerValue &&
            answerValue.includes(answer.title) &&
            answerId.includes(index)
          "
          @click="toggleSelectAnswer(answer.title, index)"
          >{{ answer.title }}
        </QuizMultipleButton>

        <QuizTextField
          v-else-if="answer.type === 'textfield'"
          :key="index"
          :placeholder="answer.value || answer.placeholder"
          :value="answerValue"
          @text="(text) => (answerValue = text)"
        />

        <QuizTextField
          v-else-if="answer.type === 'textarea'"
          :key="index"
          large
          :placeholder="answer.value || answer.placeholder"
          :value="answerValue"
          @text="(text) => (answerValue = text)"
        />

        <QuizDate
          v-else-if="answer.type === 'date'"
          :key="index"
          :placeholder="answer.value || answer.placeholder"
          class="control"
          :selected="answerValueDate"
          @input="answerDate"
        >
        </QuizDate>

        <QuizTime
          v-else-if="answer.type === 'time'"
          :key="index"
          :placeholder="answer.value || answer.placeholder"
          class="control control-time"
          :selected="answerValueTime"
          @input="answerTime"
        >
        </QuizTime>

        <QuizSelect
          v-else-if="answer.type === 'select'"
          :key="index"
          v-model="answerValue"
          :selected="answerValue"
          :options="answer.value"
          :placeholder="answer.placeholder"
        />
      </template>
    </div>

    <NextButton v-if="!nextOnClick" :disabled="validateAnswer" @click="next"
      >{{ $t("next") }}
    </NextButton>
    <YourSubscriptionLink
      v-if="quiz.payment_methods && quiz.payment_methods.stripe"
    />
  </div>
</template>
<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import QuizTextField from "~/components/quiz-controls/QuizTextField.vue";
import QuizButton from "~/components/quiz-controls/QuizButton.vue";
import QuizSelect from "~/components/quiz-controls/QuizSelect.vue";

import {
  findSettingValue,
  findSettingInputValue,
  AmPmTo24h,
  ToAmPm
} from "~/utils/helpers";
import QuizMultipleButton from "~/components/quiz-controls/QuizMultipleButton.vue";
import QuizDate from "~/components/quiz-controls/QuizDate.vue";
import QuizTime from "~/components/quiz-controls/QuizTime.vue";
import NextButton from "~/components/ui/NextButton.vue";
import YourSubscriptionLink from "~/components/layout/YourSubscriptionLink.vue";

export default {
  name: "QuizScreen",
  components: {
    YourSubscriptionLink,
    NextButton,
    QuizTime,
    QuizDate,
    QuizMultipleButton,
    QuizTextField,
    QuizButton,
    QuizSelect
  },
  props: {
    screen: {
      type: Object,
      default: () => {}
    },

    theme: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    answerValue: null,
    answerId: [],
    answerValueDate: null,
    answerValueTime: null,
    renderKey: 0,
    nextOnClick: false
  }),
  computed: {
    ...mapState(["preview", "quiz"]),

    ...mapGetters([
      "result",
      "themeButtonBackgroundColor",
      "themeButtonTextColor",
      "themeDark",
      "screens"
    ]),

    timeInputExists() {
      let result = false;
      this.screen.answers.forEach((answer) => {
        if (answer.type === "time") result = true;
      });

      return result;
    },

    validateAnswer() {
      if (this.answerValue) {
        return !this.answerValue.length && this.screen.type === "question";
      }

      return !this.answerValue && this.screen.type === "question";
    }
  },
  created() {
    this.update();
    this.$nuxt.$on("quizScreenUpdate", () => {
      this.update();
    });
  },
  methods: {
    ...mapMutations(["SET_ANSWER"]),

    updateScreenSettings() {
      const nextOnClick = findSettingValue(this.screen.settings, "nextOnClick");
      const withTimer = findSettingValue(this.screen.settings, "withTimer");
      const timerValue = findSettingInputValue(
        this.screen.settings,
        "withTimer"
      );

      this.nextOnClick = nextOnClick;

      if (withTimer) {
        setTimeout(() => this.next(), 1000 * timerValue);
        this.nextOnClick = true;
      }
    },

    update() {
      this.renderKey++;

      this.$nextTick(() => {
        this.updateScreenSettings();
        const step = parseInt(this.$route.query.step || "0");

        this.answerId = [];
        this.answerValue = null;
        this.answerValueDate = null;
        this.answerValueTime = null;

        if (this.result[step]) {
          this.answerId = this.result[step].answerFieldIds
            ? JSON.parse(JSON.stringify(this.result[step].answerFieldIds))
            : [];
          this.answerValue = this.result[step].answer
            ? JSON.parse(JSON.stringify(this.result[step].answer))
            : null;
        }

        this.checkDateTimeQuestion();
      });
    },

    next() {
      if (this.answerValue) {
        const step = this.$route.query.step || "0";

        this.SET_ANSWER({
          id: parseInt(step.toString()),
          answer: {
            question: this.screen.title,
            answer: this.answerValue,
            answerFieldIds: this.answerId,
            ...(this.answerValueDate &&
              this.answerValueTime && {
                processedValue: this.$dayjs(this.answerValue).format(
                  "YYYY-MM-DDTHH:mm:ss.sssZ"
                )
              })
          }
        });

        this.$emit("next");
        this.renderKey++;
      } else if (this.screen.type === "loader") {
        this.$emit("next");
      }
    },

    singleAnswerClick(answer, id) {
      this.answerValue = answer;
      this.answerId = id;

      if (this.nextOnClick) setTimeout(() => this.next(), 500);
    },

    toggleSelectAnswer(text, id) {
      if (!this.answerValue) {
        this.answerValue = [];
        this.answerId = [];

        this.answerValue.push(text);
        this.answerId.push(id);
      } else if (
        this.answerValue.includes(text) &&
        this.answerId.includes(id)
      ) {
        this.answerValue.splice(this.answerValue.indexOf(text), 1);
        this.answerId.splice(this.answerId.indexOf(id), 1);
      } else {
        this.answerValue.push(text);
        this.answerId.push(id);
      }
    },

    answerDate(value) {
      this.answerValueDate = value;

      if (!this.timeInputExists) this.answerValue = value;

      if (this.answerValueTime)
        this.answerValue = `${this.answerValueDate} ${this.answerValueTime}`;
    },

    answerTime(value) {
      this.answerValueTime = value;

      if (this.answerValueDate)
        this.answerValue = `${this.answerValueDate}T${AmPmTo24h(
          this.answerValueTime
        )}`;
    },

    checkDateTimeQuestion() {
      try {
        if (
          this.screen.answers &&
          this.screen.answers.length > 0 &&
          (this.screen.answers[0].type === "date" ||
            this.screen.answers[0].type === "time")
        ) {
          this.answerValueDate = this.answerValue.split("T")[0];
          this.answerValueTime = ToAmPm(this.answerValue.split("T")[1]);
        }
      } catch {}
    }
  }
};
</script>
