<template>
  <div />
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "QuizFinish",
  data: () => ({
    deeplink: ""
  }),
  computed: {
    ...mapGetters(["theme", "quiz"])
  },
  mounted() {
    try {
      const form = this.$route.query.form;
      const email = this.$route.query.email;

      if (!email || !form) {
        this.$router.push({
          path: `/${this.$route.params.id}/`,
          query: { form }
        });
        return;
      }

      this.$axios
        .$post("/api/payment-methods/stripe/get-payment-url", {
          form,
          lookup_key: this.quiz.payment_methods.stripe.lookup_key,
          user_agent: window.navigator.userAgent.toString(),
          fbp: this.getCookie("_fbp"),
          email,
          site_url: window.location.origin
        })
        .then((resp) => {
          window.open(resp.payment_url, "_self");
        });
    } catch (err) {
      this.$notify({
        title: "Error",
        text: err,
        type: "error",
        group: "foo"
      });
    }
  }
};
</script>
