<template>
  <div class="screen">
    <h1 v-text="title" />
    <div class="inBetweenText" v-html="text" />

    <div class="answers">
      <QuizTextField
        type="email"
        class="control"
        :placeholder="placeholder"
        @text="setEmail"
      />
    </div>

    <NextButton :disabled="!email || isSending" @click="submit">{{
      $t("next")
    }}</NextButton>
    <YourSubscriptionLink
      v-if="quiz.payment_methods && quiz.payment_methods.stripe"
    />
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapState } from "vuex";
import QuizTextField from "~/components/quiz-controls/QuizTextField.vue";
import NextButton from "~/components/ui/NextButton.vue";
import YourSubscriptionLink from "~/components/layout/YourSubscriptionLink.vue";

export default {
  name: "QuizSubmit",
  components: { YourSubscriptionLink, NextButton, QuizTextField },
  props: {
    theme: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    email: "",
    isSending: false
  }),
  computed: {
    ...mapState(["preview", "quiz", "systemScreens"]),

    ...mapGetters([
      "result",
      "quiz_id",
      "quiz",
      "themeButtonBackgroundColor",
      "themeButtonTextColor",
      "themeDark"
    ]),

    title() {
      return this.systemScreens[0]
        ? this.systemScreens[0].title
        : this.$t("enterEmailTitle");
    },

    text() {
      return this.systemScreens[0]
        ? this.systemScreens[0].text
        : this.$t("enterEmailText");
    },

    placeholder() {
      return this.systemScreens[0]
        ? this.systemScreens[0].answers[0].value ||
            this.systemScreens[0].answers[0].placeholder
        : "Email";
    }
  },
  methods: {
    ...mapMutations(["CLEAR_COOKIES"]),

    setEmail(value) {
      if (/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(value))
        this.email = value;
      else this.email = "";
    },

    submit() {
      if (!this.email) return;

      if (this.preview) return;

      this.isSending = true;

      const finalizedResult = [];
      this.result.forEach((answerObj) => {
        if (!answerObj) return;

        const { question, answer, processedValue } = answerObj;

        finalizedResult.push({ question, answer: processedValue || answer });
      });

      const deeplink = this.quiz.deeplink.deeplink;

      this.$axios
        .$post("/api/forms", {
          quiz_id: this.quiz_id,
          email: this.email,
          json_data: JSON.stringify(finalizedResult),
          deeplink: deeplink ? this.generateDeeplink(deeplink, this.email) : "",
          fbp: this.getCookie("_fbp"),
          user_agent: window.navigator.userAgent,
          source_url: window.location.origin
        })
        .then((resp) => {
          const form = resp.data.slug;
          this.CLEAR_COOKIES();
          this.$emit("submit", form, this.email);
        })
        .finally(() => {
          this.isSending = false;
        });
    }
  }
};
</script>
