<template>
  <div :key="renderKey" class="screen">
    <QuizImage
      v-if="screen.image && imageAtTop"
      :src="screen.image.public_path"
      :medium="imageMedium"
      :small="imageSmall"
    />

    <QuizLoader
      v-if="screen.loader && imageAtTop"
      :medium="imageMedium"
      :small="imageSmall"
      :loader="screen.loader"
    />

    <h3
      class="title"
      :class="{ 'title-top': imageAtTop }"
      v-text="screen.title"
    />

    <div
      v-if="screen.text && !imageAtTop"
      class="subtitle"
      v-html="screen.text"
    />

    <div
      v-if="screen.text && imageAtTop"
      class="subtitle"
      :class="{ 'subtitle-image-top': imageAtTop }"
      v-html="screen.text"
    />

    <QuizImage
      v-if="screen.image && !imageAtTop"
      :at-top="false"
      :medium="imageMedium"
      :small="imageSmall"
      :src="screen.image.public_path"
    />

    <QuizLoader
      v-if="screen.loader && !imageAtTop"
      :loader="screen.loader"
      :at-top="false"
      :medium="imageMedium"
      :small="imageSmall"
    />

    <NextButton v-if="!nextOnClick" @click="$emit('next')"
      >{{ nextButtonText || $t("next") }}
    </NextButton>
    <YourSubscriptionLink
      v-if="quiz.payment_methods && quiz.payment_methods.stripe"
    />
  </div>
</template>

<script>
import { mapState } from "vuex";
import { findSettingInputValue, findSettingValue } from "~/utils/helpers";
import QuizImage from "~/components/quiz-controls/QuizImage.vue";
import NextButton from "~/components/ui/NextButton.vue";
import YourSubscriptionLink from "~/components/layout/YourSubscriptionLink.vue";

export default {
  name: "QuizScreenLoader",
  components: { YourSubscriptionLink, NextButton, QuizImage },
  props: {
    screen: {
      type: Object,
      default: () => {}
    },

    theme: {
      type: Object,
      default: () => {}
    },

    nextButtonText: {
      type: String,
      default: ""
    }
  },
  data: () => ({
    nextOnClick: false,
    renderKey: 0
  }),
  computed: {
    ...mapState(["preview", "quiz"]),

    imageAtTop() {
      return findSettingValue(this.screen.settings, "image-up") === true;
    },

    imageMedium() {
      return findSettingValue(this.screen.settings, "image-medium") === true;
    },

    imageSmall() {
      return findSettingValue(this.screen.settings, "image-small") === true;
    }
  },
  watch: {
    screen() {
      this.renderKey++;
      this.$nextTick(() => {
        this.updateScreenSettings();
      });
    }
  },
  created() {
    this.renderKey++;
    this.$nextTick(() => {
      this.updateScreenSettings();
    });
  },
  methods: {
    updateScreenSettings() {
      const nextOnClick = findSettingValue(this.screen.settings, "nextOnClick");
      const withTimer = findSettingValue(this.screen.settings, "withTimer");
      const timerValue = findSettingInputValue(
        this.screen.settings,
        "withTimer"
      );

      this.nextOnClick = nextOnClick;

      if (withTimer) {
        setTimeout(() => this.$emit("next"), 1000 * timerValue);
        this.nextOnClick = true;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  font-weight: 800;
  font-size: sw(6.7);
  line-height: 120%;
  text-align: center;
  white-space: break-spaces;
  word-break: break-word;
  margin-top: auto;

  &-top {
    margin-top: sw(7.7);
  }
}

.subtitle {
  font-weight: 400;
  font-size: sw(4.3);
  line-height: 150%;
  text-align: center;
  white-space: break-spaces;
  word-break: break-word;

  margin-top: sw(3.8);

  &-image-top {
    margin-bottom: auto;
  }
}
</style>
