<template>
  <client-only>
    <div class="fill-screen-height">
      <transition name="fade">
        <div
          class="quiz"
          :style="{
            backgroundColor:
              themeBackgroundStyle === 'color' ? themeBackgroundValue : '',
            backgroundImage:
              themeBackgroundStyle === 'abstract' ||
              themeBackgroundStyle === 'image'
                ? `url(${$config.QUIZ_BUILDER_URL}${themeBackgroundValue})`
                : '',
            backgroundSize: 'cover',
            backgroundPosition: 'center center'
          }"
          :class="{
            'quiz--light': !themeDark,
            'quiz--dark': themeDark
          }"
        >
          <div id="container">
            <div class="screen">
              <vue-loaders-ball-spin-fade-loader
                class="loader"
                color="currentColor"
                scale="1"
              ></vue-loaders-ball-spin-fade-loader>

              <h3 class="title title-top" v-text="$t('checkingData')" />

              <div class="subtitle" v-text="$t('waitingForRedirect')" />
            </div>
          </div>
        </div>
      </transition>
    </div>
  </client-only>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "WaitingForRedirect",
  computed: {
    ...mapGetters([
      "themeButtonBackgroundColor",
      "themeButtonTextColor",
      "themeDark",
      "themeBackgroundStyle",
      "themeBackgroundValue"
    ])
  }
};
</script>

<style lang="scss" scoped>
.loader {
  margin: auto auto 0;
}

.title {
  font-weight: 800;
  font-size: sw(6.7);
  line-height: 120%;
  text-align: center;
  white-space: break-spaces;
  word-break: break-word;

  &-top {
    margin-top: sw(5.3);
  }
}

.subtitle {
  font-weight: 400;
  font-size: sw(4.3);
  line-height: 150%;
  text-align: center;
  white-space: break-spaces;
  word-break: break-word;

  margin-top: sw(3.8);
  margin-bottom: auto;
}
</style>
