<template>
  <div :style="{ color: color, width: widthAttr, height: heightAttr }">
    <span class="loader" />
  </div>
</template>

<script>
export default {
  name: "LoaderCircle6",
  props: {
    width: {
      type: String,
      required: false,
      default: ""
    },

    height: {
      type: String,
      required: false,
      default: ""
    },

    size: {
      type: [Number, String],
      required: false,
      default: ""
    },

    color: {
      type: String,
      required: false,
      default: "#0C0C20"
    },

    accentColor: {
      type: String,
      required: false,
      default: "#0C0C20"
    }
  },
  computed: {
    widthAttr() {
      if (this.size)
        return typeof this.size === "number" ? `${this.size}px` : this.size;
      return this.width || "24px";
    },

    heightAttr() {
      if (this.size)
        return typeof this.size === "number" ? `${this.size}px` : this.size;
      return this.height || "24px";
    }
  }
};
</script>

<style lang="scss" scoped>
.loader {
  width: 20%;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  position: relative;
  background: currentColor;
  color: currentColor;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 150%;
  box-sizing: border-box;
  animation: animloader 0.3s 0.45s linear infinite alternate;
}

.loader::before {
  left: -150%;
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    height: 100%;
  }
  100% {
    height: 4px;
  }
}
</style>
