<template>
  <div
    class="quiz"
    :style="{
      backgroundColor:
        themeBackgroundStyle === 'color' ? themeBackgroundValue : '',
      backgroundImage:
        themeBackgroundStyle === 'abstract' || themeBackgroundStyle === 'image'
          ? `url(${$config.QUIZ_BUILDER_URL}${themeBackgroundValue})`
          : '',
      backgroundSize: 'cover',
      backgroundPosition: 'center center'
    }"
    :class="{
      'quiz--light': !themeDark,
      'quiz--dark': themeDark,
      'quiz-preview': preview
    }"
  >
    <div id="container" :class="{ 'quiz-hidden': fade }">
      <QuizScreenLoader
        v-if="
          screens[currentScreen] && screens[currentScreen].type === 'loader'
        "
        :theme="theme"
        :screen="screens[currentScreen]"
        @next="nextScreen"
        @setTimerId="
          (val) => {
            clearTimer();
            timerId = val;
          }
        "
      />

      <QuizScreen
        v-else-if="screens[currentScreen]"
        :theme="theme"
        :screen="screens[currentScreen]"
        @next="nextScreen"
      />

      <QuizSubmit v-else :theme="theme" @submit="toggleSubmit" />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapState } from "vuex";
import QuizScreen from "~/components/screens/QuizScreen.vue";
import QuizSubmit from "~/components/screens/QuizSubmit.vue";
import { encodeQueryData } from "~/utils/helpers";
import QuizScreenLoader from "~/components/screens/QuizScreenLoader.vue";

export default {
  name: "TheQuiz",
  components: { QuizScreenLoader, QuizScreen, QuizSubmit },
  data() {
    return {
      currentScreen: 0,
      fade: false,
      dontRefresh: false,
      timerId: null
    };
  },
  computed: {
    ...mapState(["preview"]),

    ...mapGetters([
      "quiz",
      "screens",
      "theme",
      "paymentsExist",
      "themeDark",
      "themeBackgroundStyle",
      "themeBackgroundValue"
    ])
  },
  watch: {
    $route(current) {
      if (this.dontRefresh) {
        this.dontRefresh = false;
        return;
      }

      this.fade = true;

      setTimeout(() => {
        if (process.browser) {
          window.scrollTo({
            top: 0
          });
        }

        this.$nuxt.$emit("quizScreenUpdate");
        this.currentScreen = parseInt(current.query.step) || 0;
        this.fade = false;
      }, 350);
    },

    currentScreen() {
      this.clearTimer();
    }
  },
  created() {
    this.goToQueryStep();
  },
  methods: {
    ...mapMutations(["CLEAR_COOKIES"]),

    encodeQueryData,

    toggleSubmit(form, email) {
      this.fade = true;

      setTimeout(() => {
        const query = {
          ...this.$route.query,
          form,
          email
        };

        if (this.paymentsExist) {
          window.open(
            `/${this.$route.params.id}/payment?${this.encodeQueryData(query)}`,
            "_self"
          );
        } else {
          window.open(
            `/${this.$route.params.id}/download?${this.encodeQueryData(query)}`,
            "_self"
          );
        }
      }, 350);
    },

    goToQueryStep() {
      if (this.$route.query.step) {
        this.currentScreen = parseInt(this.$route.query.step.toString());
      } else {
        this.CLEAR_COOKIES();
        this.dontRefresh = true;
        this.$router.replace({ query: { ...this.$route.query, step: "0" } });
      }
    },

    nextScreen() {
      this.clearTimer();
      setTimeout(() => {
        this.$emit("stepChange", this.currentScreen + 1);
      }, 350);

      this.$router.push({
        query: {
          ...this.$route.query,
          step: (this.currentScreen + 1).toString()
        }
      });
    },

    clearTimer() {
      if (this.timerId !== null) {
        clearTimeout(this.timerId);
        this.timerId = null;
      }
    }
  }
};
</script>
