<template>
  <WaitingForRedirect />
</template>

<script>
import { encodeQueryData } from "~/utils/helpers";
import WaitingForRedirect from "~/components/screens/WaitingForRedirect.vue";

export default {
  name: "AppLinks",
  components: { WaitingForRedirect },
  mounted() {
    try {
      this.$axios.$get(`api/app-links/${this.$route.params.id}`).then((r) => {
        const {
          desktop_link: desktopLink,
          google_play_link: googlePlayLink,
          appstore_link: appstoreLink
        } = r.data;

        switch (this.getMobileOS()) {
          case "iOS":
            this.openLink(appstoreLink, googlePlayLink, desktopLink);
            break;
          case "Android":
            this.openLink(googlePlayLink, appstoreLink, desktopLink);
            break;
          default:
            this.openLink(desktopLink, appstoreLink, googlePlayLink);
        }
      });
    } catch (e) {
      this.$notify({
        title: "Error",
        text: e,
        type: "error",
        group: "foo"
      });

      this.$router.push(`/${this.$route.params.id}`);
    }
  },
  methods: {
    encodeQueryData,

    getMobileOS() {
      const ua = navigator.userAgent;
      if (/android/i.test(ua)) {
        return "Android";
      } else if (
        /iPad|iPhone|iPod/.test(ua) ||
        (navigator.platform === "MacIntel" && navigator.maxTouchPoints > 1)
      ) {
        return "iOS";
      }
      return "Other";
    },

    openLink(first, second, third) {
      if (first) {
        window.open(
          `${first}?${this.encodeQueryData(this.$route.query)}`,
          "_self"
        );
        return;
      }

      if (second) {
        window.open(
          `${second}?${this.encodeQueryData(this.$route.query)}`,
          "_self"
        );
        return;
      }

      window.open(
        `${third}?${this.encodeQueryData(this.$route.query)}`,
        "_self"
      );
    }
  }
};
</script>

<style lang="scss" scoped></style>
