<template>
  <div
    :style="{
      borderColor: checked
        ? theme.checkbox.borderActive
        : theme.checkbox.border,
      backgroundColor: checked
        ? theme.checkbox.backgroundActive
        : theme.checkbox.background
    }"
    class="checkbox"
    @click="$emit('toggle')"
  >
    <IconCheck v-if="checked" color="#fff" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import IconCheck from "~/components/icons/IconCheck.vue";

export default {
  name: "CheckBox",
  components: { IconCheck },
  props: {
    checked: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters(["theme"])
  }
};
</script>

<style lang="scss" scoped>
.checkbox {
  width: 20px;
  height: 20px;

  background: rgba(255, 255, 255, 0.3);
  border-width: 1.5px;
  border-style: solid;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
