<template>
  <div class="button-next-container">
    <a
      :class="{
        'button-next-grey': disabled
      }"
      class="button-next"
      :style="{
        backgroundColor: themeButtonBackgroundColor,
        color: themeButtonTextColor
      }"
      @click="$emit('click')"
    >
      <slot />
    </a>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "NextButton",
  props: {
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters([
      "themeButtonBackgroundColor",
      "themeButtonTextColor",
      "theme"
    ])
  }
};
</script>

<style lang="scss" scoped>
.button-next {
  font-weight: 600;
  font-size: sw(4.3);
  line-height: 150%;
  padding: sw(3.3) sw(3.8);

  border-radius: 16px;
  border: none;
  -webkit-appearance: none;
  font-style: normal;

  cursor: pointer;
  width: 100%;
  transition: opacity 0.2s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    margin-top: auto;
    padding-top: sw(12);
  }

  &-grey {
    opacity: 0.5;
    pointer-events: none;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.5;
    }
  }
}
</style>
