<template>
  <div
    class="radioButton"
    :style="{
      backgroundColor: checked
        ? theme.radio.radioBackgroundActive
        : theme.radio.radioBackground,
      borderColor: checked
        ? theme.radio.radioBorderActive
        : theme.radio.radioBorder
    }"
  >
    <div v-if="checked" class="circle" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "RadioButton",
  props: {
    color: {
      type: String,
      default: "#FFCB56"
    },

    checked: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters(["theme", "themeDark"])
  }
};
</script>

<style lang="scss" scoped>
.radioButton {
  width: sw(4.8);
  height: sw(4.8);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  flex-shrink: 0;

  border-width: 1.5px;
  border-style: solid;

  .circle {
    width: sw(2.4);
    height: sw(2.4);
    background: #ffffff;
    border-radius: 100px;
  }
}
</style>
