<template>
  <div class="modal" :class="{ 'modal-shown': value }">
    <div class="modal-overlay" />
    <div class="modal-container">
      <div class="modal-modal">
        <slot>
          <h1>Hello!</h1>
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "TheModal",
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters(["theme", "themeDark"])
  }
};
</script>

<style lang="scss" scoped>
.modal {
  position: absolute;
  left: 0;
  top: 0;

  border: none;
  border-radius: 16px;

  width: 100%;
  height: 100%;
  z-index: 12;

  transition: all 0.2s ease;

  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  &-shown {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;

    .modal-modal {
      transform: none;
      opacity: 1;
    }
  }

  &-overlay {
    background: #000000;
    opacity: 0.5;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    padding: sw(3.8);
  }

  &-modal {
    transition: all 0.4s ease;
    transform: translateY(-40%);

    background-color: #ffffff;
    width: 100%;
    padding: sw(5.7);
    border-radius: 32px;
    position: relative;
    color: #161616;

    margin-top: auto;
  }
}
</style>
