@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Анимация появления / исчезновения
@import "./animations";
// Smooth Picker
@import "./smooth-picker";

@import "./typography";

:root {
  --app-height: 100%;
}

html,
body,
#__nuxt,
#__layout,
#__layout_default,
.fill-screen-height {
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-repeat: no-repeat;
  background-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", "Inter", sans-serif;
}

ul,
ol {
  list-style-position: inside;
  text-align: left;
}

li * {
  display: inline;
}

//

.quiz {
  height: 100%;
  position: relative;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    .image {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transform: translate(-50%);
      max-width: $maxScreenWidth;

      z-index: 1;

      &-dark {
        mix-blend-mode: color-burn;
      }

      &-light {
        mix-blend-mode: hard-light;
      }

      img {
        width: 100%;
        height: 100%;
        filter: blur(6px);
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  #container {
    height: 100%;
    transition: opacity 0.35s ease;
    position: relative;
    z-index: 2;
    max-width: $maxScreenWidth;
    margin: 0 auto;

    .screen {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      padding: sw(5.7);
      display: flex;
      flex-direction: column;
      background-repeat: no-repeat;
      background-size: 100%;
      overflow-x: hidden;
    }

    h1 {
      font-weight: 800;
      font-size: sw(6.7);
      line-height: 120%;
      word-break: break-word;
      margin-bottom: sw(3.7);
      white-space: break-spaces;
    }

    .answers {
      display: flex;
      flex-direction: column;
      margin-top: sw(5.7);
      flex-grow: 1;

      &-reverse {
        flex-direction: column-reverse;
      }

      .control {
        margin-top: sw(1.9);

        &:first-of-type {
          margin-top: 0;
        }

        &-time {
          margin-top: sw(3.8);
        }
      }
    }

    .inBetweenText {
      font-weight: 400;
      font-size: sw(4.3);
      line-height: 150%;
      word-break: break-word;
      opacity: 0.9;
    }

    label {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }
  }

  &--dark {
    color: #fff;
    background-color: #000;
  }

  &--light {
    color: #000;
    background-color: #fff;
  }

  &-hidden {
    opacity: 0;
  }

  &-preview {
    #container {
      .screen {
        padding: sw(16) sw(5.7) sw(9);
      }
    }
  }
}
