@import "./typography";

.smooth-picker {
  font-size: sw(5.5) !important;

  .smooth-handle-layer .smooth-top {
    border-bottom: none !important;
    background: linear-gradient(180deg, #fff 0%, hsla(0, 0%, 100%, 0.7));
  }
  .smooth-handle-layer .smooth-middle {
    background: #000000;
    opacity: 0.15;
    border-radius: 8px;
  }
  .smooth-handle-layer .smooth-bottom {
    border-top: none !important;
    background: linear-gradient(
      0deg,
      #fff 0%,
      hsla(0, 0%, 100%, 0.7)
    ) !important;
  }
}
