<template>
  <div id="__layout_default">
    <notifications position="bottom right" group="foo" />
    <div v-if="gaCode" v-html="gaCode" />
    <div v-if="ymCode" v-html="ymCode" />
    <nuxt />
  </div>
</template>

<script>
export default {
  name: "DefaultLayout",
  computed: {
    gaCode() {
      return this.$store.state.quiz?.analytics?.ga_counter_code;
    },

    ymCode() {
      return this.$store.state.quiz?.analytics?.ym_counter_code;
    }
  }
};
</script>
