<template>
  <div class="fill-screen-height">
    <QuizHasNoAppLink v-if="!deeplink" />
    <transition name="fade">
      <TheQuiz v-if="screens.length > 0" />
    </transition>
  </div>
</template>

<script>
import Vue from "vue";
import { mapGetters, mapMutations } from "vuex";
import QuizHasNoAppLink from "~/components/layout/QuizHasNoAppLink.vue";

export default Vue.extend({
  name: "IndexPage",
  components: { QuizHasNoAppLink },
  async asyncData({ route, redirect, $config, store }) {
    try {
      await store.dispatch("fetchQuiz", { id: route.params.id });
    } catch {
      try {
        await store.dispatch("fetchQuiz", { id: route.params.id });
      } catch {
        redirect($config.DASHBOARD_URL);
      }
    }

    return {
      quiz: store.state.quiz,
      title: store.state.quiz.name
    };
  },
  head() {
    return {
      title: this.title,
      meta: this.quiz.fb?.fb_domain_verification
        ? [
            {
              name: "facebook-domain-verification",
              content: `${this.quiz.fb?.fb_domain_verification}`
            }
          ]
        : [],
      script: [
        {
          innerHTML: this.quiz.fb?.fb_pixel_id
            ? `!function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '${this.quiz.fb.fb_pixel_id}'); fbq('track', 'PageView');`
            : ""
        }
      ],
      noscript: [
        {
          innerHTML: this.quiz.fb?.fb_pixel_id
            ? `<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=${this.quiz.fb.fb_pixel_id}&ev=PageView&noscript=1" alt=""/>`
            : ""
        }
      ]
    };
  },
  computed: {
    ...mapGetters(["screens", "deeplink"])
  },
  mounted() {
    this.LOAD_RESULTS_FROM_COOKIE();
  },
  methods: {
    ...mapMutations([
      "SET_QUIZ",
      "SET_QUIZ_ID",
      "SET_SCREENS",
      "SET_THEME",
      "LOAD_RESULTS_FROM_COOKIE"
    ])
  }
});
</script>
