<template>
  <div class="fill-screen-height">
    <transition name="fade">
      <div
        class="quiz"
        :style="{
          backgroundColor:
            themeBackgroundStyle === 'color' ? themeBackgroundValue : '',
          backgroundImage:
            themeBackgroundStyle === 'abstract' ||
            themeBackgroundStyle === 'image'
              ? `url(${$config.QUIZ_BUILDER_URL}${themeBackgroundValue})`
              : '',
          backgroundSize: 'cover',
          backgroundPosition: 'center center'
        }"
        :class="{
          'quiz--light': !themeDark,
          'quiz--dark': themeDark
        }"
      >
        <div id="container">
          <div class="screen" :class="{ 'screen-overlay': themeDark }">
            <h1>{{ $t("paymentError") }}</h1>

            <NextButton @click="goBack">{{ $t("tryAgain") }}</NextButton>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import NextButton from "~/components/ui/NextButton.vue";

export default {
  name: "PaymentError",
  components: { NextButton },
  async asyncData({ route, redirect, $config, store }) {
    try {
      await store.dispatch("fetchQuiz", { id: route.params.id });
    } catch {
      try {
        await store.dispatch("fetchQuiz", { id: route.params.id });
      } catch {
        redirect($config.DASHBOARD_URL);
      }
    }

    return {
      quiz: store.state.quiz,
      title: store.state.quiz.name
    };
  },
  head() {
    return {
      title: this.title
    };
  },
  computed: {
    ...mapGetters([
      "themeButtonBackgroundColor",
      "themeButtonTextColor",
      "themeDark",
      "themeBackgroundStyle",
      "themeBackgroundValue"
    ])
  },
  methods: {
    goBack() {
      this.$router.push(`/${this.$route.params.id}`);
    }
  }
};
</script>
