<template>
  <WaitingForRedirect />
</template>

<script>
import "vue-loaders/dist/vue-loaders.css";
import BallSpinFadeLoader from "vue-loaders/dist/loaders/ball-spin-fade-loader";
import { encodeQueryData } from "~/utils/helpers";
import WaitingForRedirect from "~/components/screens/WaitingForRedirect.vue";

export default {
  name: "PaymentError",
  components: {
    WaitingForRedirect,
    [BallSpinFadeLoader.component.name]: BallSpinFadeLoader.component
  },
  async asyncData({ route, redirect, $config, store }) {
    try {
      await store.dispatch("fetchQuiz", { id: route.params.id });
    } catch {
      try {
        await store.dispatch("fetchQuiz", { id: route.params.id });
      } catch {
        redirect($config.DASHBOARD_URL);
      }
    }

    return {
      quiz: store.state.quiz,
      title: store.state.quiz.name
    };
  },
  data: () => ({
    deeplink: ""
  }),
  head() {
    return {
      title: this.title
    };
  },

  mounted() {
    try {
      const form = this.$route.query.form;
      const email = this.$route.query.email;

      if (!email || !form) {
        this.$router.push({
          path: `/${this.$route.params.id}/`,
          query: { form }
        });
        return;
      }

      this.$axios
        .$post("/api/payment-methods/stripe/get-payment-url", {
          form,
          lookup_key: this.quiz.payment_methods.stripe.lookup_key,
          user_agent: window.navigator.userAgent.toString(),
          fbp: this.getCookie("_fbp"),
          email,
          site_url: window.location.origin
        })
        .then((resp) => {
          window.open(resp.payment_url, "_self");
        });
    } catch (err) {
      this.$notify({
        title: "Error",
        text: err,
        type: "error",
        group: "foo"
      });
    }
  },
  methods: {
    encodeQueryData,

    goBack() {
      const query = {
        ...this.$route.query,
        pay: "1"
      };

      window.open(
        `/${this.$route.params.id}?${this.encodeQueryData(query)}`,
        "_self"
      );
    }
  }
};
</script>
