<template>
  <div class="fill-screen-height">
    <transition name="fade">
      <div
        class="quiz"
        :style="{
          backgroundColor:
            themeBackgroundStyle === 'color' ? themeBackgroundValue : '',
          backgroundImage:
            themeBackgroundStyle === 'abstract' ||
            themeBackgroundStyle === 'image'
              ? `url(${$config.QUIZ_BUILDER_URL}${themeBackgroundValue})`
              : '',
          backgroundSize: 'cover',
          backgroundPosition: 'center center'
        }"
        :class="{
          'quiz--light': !themeDark,
          'quiz--dark': themeDark
        }"
      >
        <div id="container">
          <div v-if="!unsubscribed" class="screen">
            <BackToQuiz class="back" />

            <h1 v-html="$t('subscription.title')" />
            <div class="inBetweenText">{{ $t("subscription.subtitle") }}</div>

            <div class="answers">
              <label>Email</label>
              <QuizTextField
                type="email"
                class="control"
                placeholder="Enter your email"
                :value="email"
                @text="(txt) => (email = txt)"
              />

              <div class="access-key">
                <div class="title-container">
                  <label>Password</label>
                  <div
                    class="forgot-password"
                    @click="showForgotPassword = true"
                  >
                    Forgot password?
                  </div>
                </div>
                <QuizTextField
                  :autofocus="false"
                  type="password"
                  placeholder="Enter your password"
                  :value="accessKey"
                  @text="(txt) => (accessKey = txt)"
                />

                <svg
                  v-tooltip="{
                    content: $t('subscription.yourPasswordWasGenerated'),
                    hideOnTargetClick: false,
                    autoHide: false,
                    classes: 'tooltip-custom'
                  }"
                  class="icon-help"
                  xmlns="http://www.w3.org/2000/svg"
                  height="24"
                  viewBox="0 0 24 24"
                  width="24"
                >
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path
                    fill="currentColor"
                    d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"
                  />
                </svg>
              </div>
            </div>

            <NextButton
              v-if="!showUnsubscribeModal"
              :disabled="!email"
              @click="searchEmail"
              >{{ $t("subscription.search") }}
            </NextButton>

            <TheModal v-model="showNotFoundModal">
              <TheModalContentDefault
                :modal-title="$t('subscription.noEmail')"
                :cancel-button-text="$t('ok')"
                @cancel="showNotFoundModal = false"
              />
            </TheModal>

            <TheModal v-model="showUnsubscribeModal">
              <TheModalContentDefault
                variant="alert"
                :modal-title="$t('subscription.foundEmail')"
                :confirm-button-text="$t('subscription.yes')"
                :cancel-button-text="$t('subscription.no')"
                @confirm="cancelSubscription"
                @cancel="showUnsubscribeModal = false"
              />
            </TheModal>

            <TheModal v-model="showForgotPassword">
              <TheModalContentRestorePassword
                @confirm="resetPassword"
                @cancel="showForgotPassword = false"
              />
            </TheModal>

            <TheModal v-model="passwordIsReset">
              <TheModalContentDefault
                :modal-title="$t('subscription.passwordReset')"
                :cancel-button-text="$t('ok')"
                @cancel="passwordIsReset = false"
              />
            </TheModal>
          </div>

          <div v-else class="screen screen-unsub">
            <IconCheckCircle
              class="unsub-icon"
              :size="64"
              color="currentColor"
            />
            <h1 class="title" v-text="$t('subscription.unsubscribedTitle')" />
            <div class="inBetweenText">
              {{ $t("subscription.unsubscribedSubtitle") }}
            </div>

            <NextButton
              v-if="!showUnsubscribeModal"
              class="retake"
              @click="$router.push(`/${$route.params.id}`)"
              >{{ $t("subscription.passQuizAgain") }}
            </NextButton>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import IconCheckCircle from "@/components/icons/IconCheckCircle";
import BackToQuiz from "~/components/layout/BackToQuiz.vue";
import NextButton from "~/components/ui/NextButton.vue";
import TheModal from "~/components/ui/TheModal.vue";
import TheModalContentDefault from "~/components/modals/TheModalContentDefault.vue";
import TheModalContentRestorePassword from "~/components/modals/TheModalContentRestorePassword.vue";

export default {
  name: "SubscriptionPage",
  components: {
    TheModalContentRestorePassword,
    TheModalContentDefault,
    TheModal,
    NextButton,
    BackToQuiz,
    IconCheckCircle
  },
  async asyncData({ route, redirect, $config, store }) {
    try {
      await store.dispatch("fetchQuiz", { id: route.params.id });
    } catch {
      try {
        await store.dispatch("fetchQuiz", { id: route.params.id });
      } catch {
        redirect($config.DASHBOARD_URL);
      }
    }

    return {
      quiz: store.state.quiz,
      title: store.state.quiz.name
    };
  },
  data() {
    return {
      email: "",
      accessKey: "",
      subscriptionId: "",

      showNotFoundModal: false,
      showUnsubscribeModal: false,
      unsubscribed: false,

      showForgotPassword: false,
      passwordIsReset: false
    };
  },
  head() {
    return {
      title: this.title
    };
  },
  computed: {
    ...mapGetters([
      "themeButtonBackgroundColor",
      "themeButtonTextColor",
      "themeDark",
      "themeBackgroundStyle",
      "themeBackgroundValue"
    ])
  },
  created() {
    this.email = this.$route.query.email || "";
  },
  methods: {
    async searchEmail() {
      try {
        const data = await this.$axios.$get(
          `/api/quizzes/${this.$route.params.id}/subscriptions/${this.email}`,
          {
            headers: {
              "x-api-key": this.accessKey
            }
          }
        );

        if (data.data && data.data.subscription_id) {
          this.showUnsubscribeModal = true;
          this.showNotFoundModal = false;
          this.subscriptionId = data.data.subscription_id;
          return;
        }

        this.showNotFoundModal = true;
      } catch {
        this.showNotFoundModal = true;
      }
    },

    cancelSubscription() {
      this.$axios
        .$patch(
          `/api/quizzes/${this.$route.params.id}/subscriptions/${this.email}/cancel`,
          {
            subscription_id: this.subscriptionId
          },
          {
            headers: {
              "x-api-key": this.accessKey
            }
          }
        )
        .then(() => {
          this.showUnsubscribeModal = false;
          this.unsubscribed = true;
        });
    },

    resetPassword(email) {
      this.$axios
        .$get(`/api/forms/${email}/reset-password`)
        .then(() => {
          this.passwordIsReset = true;
        })
        .catch(() => {
          this.showNotFoundModal = true;
        })
        .finally(() => {
          this.showForgotPassword = false;
        });
    }
  }
};
</script>

<style scoped lang="scss">
.back {
  margin-bottom: 18px;
}

.access-key {
  margin-top: sw(4.4);
  position: relative;

  .title-container {
    display: flex;
    align-items: center;

    .forgot-password {
      margin-left: auto;
      font-size: 14px;
      line-height: 20px;
      cursor: pointer;
    }
  }
}

.icon-help {
  position: absolute;
  bottom: 28px;
  right: 16px;
  transform: translateY(50%);
  cursor: pointer;
  outline: none;

  &:hover {
    opacity: 0.5;
  }
}

.screen-unsub {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .unsub-icon {
    margin-top: auto;
  }

  .title {
    margin-top: sw(7.7);
  }

  .retake {
    width: 100%;
  }
}
</style>
