<template>
  <div class="fill-screen-height">
    <transition name="fade">
      <TheQuiz
        v-if="screens.length > 0 && theme"
        @stepChange="emitScreenChange"
      />
    </transition>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";

export default {
  name: "PreviewPage",
  layout: "blank",
  computed: {
    ...mapGetters(["screens", "theme"])
  },
  mounted() {
    this.SET_PREVIEW({ value: true });
    this.initPostMessage();
  },
  methods: {
    ...mapMutations([
      "SET_SCREENS",
      "SET_THEME",
      "SET_THEME_DARKNESS",
      "SET_THEME_BACKGROUND",
      "SET_THEME_BACKGROUND_VALUE",
      "SET_PREVIEW"
    ]),

    initPostMessage() {
      window.addEventListener("message", (e) => {
        if (!e.data) return;

        const { type, data } = e.data;

        switch (type) {
          case "screens":
            return this.SET_SCREENS({ screens: data });
          case "systemScreens":
            return this.SET_SCREENS({
              screens: data,
              screensKey: "systemScreens"
            });
          case "theme":
            return this.SET_THEME({ theme: data });
          case "darkness":
            return this.SET_THEME_DARKNESS({ dark: data });
          case "backgroundStyle":
            return this.SET_THEME_BACKGROUND({ style: data });
          case "backgroundValue":
            return this.SET_THEME_BACKGROUND_VALUE({ image: data });
          case "currentScreen":
            this.$router.push({ query: { step: data } });
        }
      });
    },

    emitScreenChange(screenIndex) {
      parent.postMessage(
        {
          type: "currentScreen",
          data: screenIndex
        },
        "*"
      );
    }
  }
};
</script>
