<template>
  <div class="modal-content">
    <div
      class="modal-content-title"
      v-text="'Enter your email to restore password'"
    />

    <label>Email</label>
    <QuizTextField
      :value="email"
      type="email"
      placeholder="Enter your email"
      @text="
        (text) => {
          email = text;
        }
      "
    />

    <div class="modal-content-buttons-container">
      <button
        :style="{
          backgroundColor: theme.dateTimePicker.doneBackground,
          color: theme.dateTimePicker.doneText,
          opacity: email ? 1 : 0.5,
          pointerEvents: email ? 'auto' : 'none'
        }"
        class="cancel"
        @click="confirm"
      >
        {{ $t("subscription.restore") }}
      </button>

      <button
        :style="{
          backgroundColor: theme.dateTimePicker.doneText,
          borderColor: theme.dateTimePicker.doneBackground,
          color: theme.dateTimePicker.doneBackground
        }"
        class="confirm"
        @click="$emit('cancel')"
      >
        {{ $t("subscription.cancel") }}
      </button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import QuizTextField from "~/components/quiz-controls/QuizTextField.vue";

export default {
  name: "TheModalContentRestorePassword",
  components: { QuizTextField },
  data() {
    return {
      email: ""
    };
  },
  computed: {
    ...mapGetters(["theme", "themeDark"])
  },
  methods: {
    confirm() {
      this.$emit("confirm", this.email);
      this.email = "";
    }
  }
};
</script>

<style lang="scss" scoped>
.modal-content {
  display: flex;
  flex-direction: column;

  &-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 20px;
  }

  &-buttons-container {
    margin-top: 20px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: sw(2.4);

    width: 100%;

    .confirm {
      padding: sw(3) sw(3.5);
      font-weight: 600;
      font-size: sw(4.3);
      line-height: 150%;
      -webkit-appearance: none;
      backdrop-filter: blur(19px);
      border-radius: 16px;
      border: 1.5px solid;
      transition: none;
      cursor: pointer;
      width: 100%;
    }

    .cancel {
      padding: sw(3.3) sw(3.8);
      font-weight: 600;
      font-size: sw(4.3);
      line-height: 150%;
      -webkit-appearance: none;
      backdrop-filter: blur(19px);
      border-radius: 16px;
      transition: none;
      cursor: pointer;
      border: none;
      width: 100%;
    }
  }
}
</style>
