<template>
  <div class="modal-content">
    <IconCommentCancel v-if="variant === 'alert'" class="modal-content-icon" />

    <IconCheck v-if="variant === 'success'" class="modal-content-icon" />

    <div class="modal-content-title" v-html="modalTitle" />

    <div class="modal-content-buttons-container">
      <button
        v-if="confirmButtonText"
        :style="{
          backgroundColor: theme.dateTimePicker.doneText,
          borderColor: theme.dateTimePicker.doneBackground,
          color: theme.dateTimePicker.doneBackground
        }"
        class="confirm"
        @click="$emit('confirm')"
      >
        {{ confirmButtonText }}
      </button>

      <button
        v-if="cancelButtonText"
        :style="{
          backgroundColor: theme.dateTimePicker.doneBackground,
          color: theme.dateTimePicker.doneText
        }"
        class="cancel"
        @click="$emit('cancel')"
      >
        {{ cancelButtonText }}
      </button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import IconCommentCancel from "~/components/icons/IconCommentCancel.vue";
import IconCheck from "~/components/icons/IconCheck.vue";

export default {
  name: "TheModalContentDefault",
  components: { IconCheck, IconCommentCancel },
  props: {
    variant: {
      type: String,
      default: "alert"
    },

    modalTitle: {
      type: String,
      default: ""
    },

    confirmButtonText: {
      type: String,
      default: ""
    },

    cancelButtonText: {
      type: String,
      default: ""
    }
  },
  computed: {
    ...mapGetters(["theme", "themeDark"])
  }
};
</script>

<style lang="scss" scoped>
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-icon {
    margin-bottom: sw(3.8);
  }

  &-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
  }

  &-buttons-container {
    margin-top: 20px;

    display: flex;
    align-items: center;
    gap: sw(3.8);

    width: 100%;

    .confirm {
      padding: sw(3) sw(3.5);
      font-weight: 600;
      font-size: sw(4.3);
      line-height: 150%;
      -webkit-appearance: none;
      backdrop-filter: blur(19px);
      border-radius: 16px;
      border: 1.5px solid;
      transition: none;
      cursor: pointer;
      width: 100%;
    }

    .cancel {
      padding: sw(3.3) sw(3.8);
      font-weight: 600;
      font-size: sw(4.3);
      line-height: 150%;
      -webkit-appearance: none;
      backdrop-filter: blur(19px);
      border-radius: 16px;
      transition: none;
      cursor: pointer;
      border: none;
      width: 100%;
    }
  }
}
</style>
