<template>
  <div class="fill-screen-height">
    <transition name="fade">
      <div
        v-if="deeplink"
        class="quiz"
        :style="{
          backgroundColor:
            themeBackgroundStyle === 'color' ? themeBackgroundValue : '',
          backgroundImage:
            themeBackgroundStyle === 'abstract' ||
            themeBackgroundStyle === 'image'
              ? `url(${$config.QUIZ_BUILDER_URL}${themeBackgroundValue})`
              : '',
          backgroundSize: 'cover',
          backgroundPosition: 'center center'
        }"
        :class="{
          'quiz--light': !themeDark,
          'quiz--dark': themeDark
        }"
      >
        <div id="container">
          <QuizScreenLoader
            :theme="theme"
            :screen="downloadScreen"
            :next-button-text="$t('downloadScreen.download')"
            @next="goToDeeplink"
          />
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapState } from "vuex";
import Vue from "vue";
import QuizScreenLoader from "~/components/screens/QuizScreenLoader.vue";

export default Vue.extend({
  name: "DownloadPage",
  components: { QuizScreenLoader },
  async asyncData({ route, redirect, $config, store, error, $axios }) {
    try {
      await store.dispatch("fetchQuiz", { id: route.params.id });
    } catch {
      try {
        await store.dispatch("fetchQuiz", { id: route.params.id });
      } catch {
        redirect($config.DASHBOARD_URL);
      }
    }

    const deeplink = await $axios
      .$get(`/api/forms/${route.query.form}/deeplink`)
      .then(
        (resp) => resp.deeplink,
        () => error({ statusCode: 404, message: "Deeplink not found" })
      );

    return {
      quiz: store.state.quiz,
      title: store.state.quiz.name,
      deeplink
    };
  },
  head() {
    return {
      title: this.title,
      script: [
        {
          innerHTML: this.quiz.fb?.fb_pixel_id
            ? `!function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)}; if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '${this.quiz.fb.fb_pixel_id}'); fbq('track', 'PageView');`
            : ""
        },
        {
          innerHTML: this.quiz.analytics?.ym_counter_id
            ? `(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(${this.quiz.analytics?.ym_counter_id}, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true  });`
            : ""
        },
        {
          async: true,
          src: this.quiz.analytics?.ga_counter_id
            ? `https://www.googletagmanager.com/gtag/js?id=${this.quiz.analytics?.ga_counter_id}`
            : ""
        },
        {
          innerHTML: this.quiz.analytics?.ga_counter_id
            ? `window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '${this.quiz.analytics?.ga_counter_id}');`
            : ""
        }
      ],
      noscript: [
        {
          innerHTML: this.quiz.fb?.fb_pixel_id
            ? `<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=${this.quiz.fb.fb_pixel_id}&ev=PageView&noscript=1" alt=""/>`
            : ""
        },
        {
          innerHTML: this.quiz.analytics?.ym_counter_id
            ? `<div><img src="https://mc.yandex.ru/watch/${this.quiz.analytics?.ym_counter_id}" style="position:absolute; left:-9999px;" alt=""/></div>`
            : ""
        }
      ]
    };
  },
  computed: {
    ...mapGetters([
      "screens",
      "theme",
      "themeButtonBackgroundColor",
      "themeButtonTextColor",
      "themeDark",
      "themeBackgroundStyle",
      "themeBackgroundValue"
    ]),

    ...mapState(["systemScreens"]),

    downloadScreen() {
      if (this.systemScreens.length > 0) return this.systemScreens[1];

      return {
        type: "systemLoader",
        title: this.$t("downloadScreen.title"),
        text: this.$t("downloadScreen.text"),
        titlePlaceholder: this.$t("downloadScreen.title"),
        textPlaceholder: this.$t("downloadScreen.text"),
        image: null,
        settings: [
          [
            {
              name: "image-up",
              value: false,
              type: "checkbox",
              hint: ""
            },
            {
              name: "image-down",
              value: true,
              type: "checkbox",
              hint: ""
            }
          ],
          [
            {
              name: "image-large",
              value: false,
              type: "checkbox",
              hint: ""
            },
            {
              name: "image-medium",
              value: true,
              type: "checkbox",
              hint: ""
            },
            {
              name: "image-small",
              value: false,
              type: "checkbox",
              hint: ""
            }
          ]
        ]
      };
    }
  },
  mounted() {
    const appHeight = () => {
      const doc = document.documentElement;
      doc.style.setProperty("--app-height", `${window.innerHeight}px`);
    };
    window.addEventListener("resize", appHeight);
    appHeight();
  },
  methods: {
    ...mapMutations([
      "SET_QUIZ",
      "SET_QUIZ_ID",
      "SET_SCREENS",
      "SET_THEME",
      "LOAD_RESULTS_FROM_COOKIE",
      "SET_THEME_DARKNESS"
    ]),

    goToDeeplink() {
      window.open(this.deeplink, "_self");
    }
  }
});
</script>
